### Numpy, Pandas, and Prediction

## Name:

<div class="alert alert-danger" role="alert">
Note: You must print the output of each question in a new cell below your code. Homework submissions without outputs displayed will not be graded.
    </div>

## Numpy Review


__1a) Create two numpy arrays (`a` and `b`).__

* `a` should be all integers between 25-34 (inclusive)
* `b` should be ten evenly spaced numbers between 1-6. 


**Print all the results for 1-4 below and solve them consecutively:**


1. Cube (i.e. raise to the power of 3) all the elements in both arrays (element-wise)  
2. Add the cubed arrays `a^3 + b^3` (e.g., `[1,2] + [3,4] = [4,6]`)  
3. Sum the elements with even indices of the added array from `2.`  
4. Take the square root of the added array (element-wise square root)

In [ ]:
# 1. your code here

In [ ]:
# 2. your code here

In [ ]:
# 3. your code here

In [ ]:
# 4. your code here

__1b) Append `b` to `a`, reshape the appended array so that it is a 4x5 2d array. Store the results in a variable called `m`. Print `m`.__

In [ ]:
# your code here

__1c) Extract the third and the fourth column of the `m` matrix. Store the resulting 4x2 matrix in a new variable called `m2`. Print `m2`.__

In [ ]:
# your code here

__1d) Take the dot product of `m2` and `m` store the results in a matrix called `m3`. Print `m3`.
Note that Dot product of two matrices A.B =A<sup>T</sup>B__

In [ ]:
# your code here

## Numpy conditions


__2a) Create a Numpy array called `f` containing the values of `cosine(x)` for x from 0 to $\pi$ in 50 equally spaced value increments__
* 1. Print `f`
* 2. Use condition mask and print an array that is `True` when `f >= 1/2` and `False` when `f < 1/2`
* 3. Create and print an array sequence that has only those values where `f>= 1/2`

In [ ]:
# your code here

## NumPy and 2 Variable Prediction

__Let `x` be the number of miles a person drives per day and `y` be the dollars spent on buying car fuel (per day).__
  
We have created 2 numpy arrays each of size 100 that represent `x` and `y`.
* `x` ( number of miles) ranges from 1 to 10 with a uniform noise of (0,1/2)  
* `y` (money spent in dollars) will be from 1 to 20 with a uniform noise (0,1)

In [1]:
# seed the random number generator with a fixed value
import numpy as np
np.random.seed(500)

x = np.linspace(1,10,100)+ np.random.uniform(low=0,high=.5,size=100) 
y = np.linspace(1,20,100)+ np.random.uniform(low=0,high=1,size=100)
print('x = ',x)
print('y = ',y)

x =  [ 1.34683976  1.12176759  1.51512398  1.55233174  1.40619168  1.65075498
  1.79399331  1.80243817  1.89844195  2.00100023  2.3344038   2.22424872
  2.24914511  2.36268477  2.49808849  2.8212704   2.68452475  2.68229427
  3.09511169  2.95703884  3.09047742  3.2544361   3.41541904  3.40886375
  3.50672677  3.74960644  3.64861355  3.7721462   3.56368566  4.01092701
  4.15630694  4.06088549  4.02517179  4.25169402  4.15897504  4.26835333
  4.32520644  4.48563164  4.78490721  4.84614839  4.96698768  5.18754259
  5.29582013  5.32097781  5.0674106   5.47601124  5.46852704  5.64537452
  5.49642807  5.89755027  5.68548923  5.76276141  5.94613234  6.18135713
  5.96522091  6.0275473   6.54290191  6.4991329   6.74003765  6.81809807
  6.50611821  6.91538752  7.01250925  6.89905417  7.31314433  7.20472297
  7.1043621   7.48199528  7.58957227  7.61744354  7.6991707   7.85436822
  8.03510784  7.80787781  8.22410224  7.99366248  8.40581097  8.28913792
  8.45971515  8.54227144  8.6906456   8.61856507  8.83489887  8.66309658
  8.94837987  9.20890222  8.9614749   8.92608294  9.13231416  9.55889896
  9.61488451  9.54252979  9.42015491  9.90952569 10.00659591 10.02504265
 10.07330937  9.93489915 10.0892334  10.36509991]
y =  [ 1.6635012   2.0214592   2.10816052  2.26016496  1.96287558  2.9554635
  3.02881887  3.33565296  2.75465779  3.4250107   3.39670148  3.39377767
  3.78503343  4.38293049  4.32963586  4.03925039  4.73691868  4.30098399
  4.8416329   4.78175957  4.99765787  5.31746817  5.76844671  5.93723749
  5.72811642  6.70973615  6.68143367  6.57482731  7.17737603  7.54863252
  7.30221419  7.3202573   7.78023884  7.91133365  8.2765417   8.69203281
  8.78219865  8.45897546  8.89094715  8.81719921  8.87106971  9.66192562
  9.4020625   9.85990783  9.60359778 10.07386266 10.6957995  10.66721916
 11.18256285 10.57431836 11.46744716 10.94398916 11.26445259 12.09754828
 12.11988037 12.121557   12.17613693 12.43750193 13.00912372 12.86407194
 13.24640866 12.76120085 13.11723062 14.07841099 14.19821707 14.27289001
 14.30624942 14.63060835 14.2770918  15.0744923  14.45261619 15.11897313
 15.2378667  15.27203124 15.32491892 16.01095271 15.71250558 16.29488506
 16.70618934 16.56555394 16.42379457 17.18144744 17.13813976 17.69613625
 17.37763019 17.90942839 17.90343733 18.01951169 18.35727914 18.16841269
 18.61813748 18.66062754 18.81217983 19.44995194 19.7213867  19.71966726
 19.78961904 19.64385088 20.69719809 20.07974319]

__3a) Find Expected value of `x` and the Expected value of `y`__

In [ ]:
# your code here

__3b) Find variance of `x` and `y`__

In [ ]:
# your code here

__3c) Find covariance of `x` and `y`.__

In [ ]:
# your code here

__3d) Assuming that number of dollars spent on car fuel is only dependent on the miles driven, by  a linear relationship.  
Write code that finds the model paramters `c` and `m` for a linear predictor to calculate a predicted value of `y` for each `x`
i.e $\hat{y}$=`y_predicted = f(x) = c+mx`. (Do not use Machine learning libraries, only native Numpy).__

Print `m` and `c`

In [1]:
# your code here

__3e) Predict `y` for each value in `x`. Calculate the Squared Error (SE), ie $SE = \sum^{100}_1 (\hat{y}-y)^2$, store the squared errors in an array called `y_error`__

In [ ]:
# your code here

__3f) Write code that calculates the root mean square error(RMSE), that is the square root of the mean of `y_error`__

In [ ]:
# your code here

## Pandas Introduction

In order to complete some of these problems you might need to go over the Data-X Pandas notebook (depending on how much Pandas you've used).

You can find the Pandas notebook in the Github repository: [github.com/afo/data-x-plaksha](github.com/afo/data-x-plaksha) (look in the folder `02b-tools-pandas` for the notebook `pandas-intro-v8_short.ipynb`

##  Reading File

In [3]:
# Load required modules
import pandas as pd
import numpy as np

#### Read the CSV file called `'data3.csv'` into a dataframe called `df`. 
#### Data description
* File location: Attached along
* Data source: http://www.fao.org/nr/water/aquastat/data/query/index.html?*lang=en
* Data, units:
* GDP, current USD (CPI adjusted)
* NRI, mm/yr
* Population density, inhab/km^2
* Total area of the country, 1000 ha = 10km^2
* Total Population, unit 1000 inhabitants

In [2]:
# your code here

#### 4a ) Display the first 10 rows of the dataframe

In [ ]:
# your code here

#### 4b) Display the column names.

In [ ]:
# your code here

#### 4c) Use iloc to display the first 3 rows and first 4 columns.

In [ ]:
# your code here



## Data Preprocessing

#### 5a ) Find all the rows that  have 'NaN' in the 'Symbol' column. Display the first 5 rows of this result.

##### Hint : You might have to use a condition (mask)

In [ ]:
# your code here

#### 5b )  Now, we will try to get rid of the NaN valued rows and columns. 

1. First, drop the column 'Other' which only has 'NaN' values. 
2. Then drop all other rows that have any column with a value 'NaN'.  
3. Then display the last 5 rows of the dataframe.

In [ ]:
# your code here




#### 6a) For our analysis we do not want all the columns in our dataframe. Lets  drop all the redundant columns/ features.   
**Drop columns**: **Area Id, Variable Id, Symbol**. Save the new dataframe as `df1`. 


Display the first 5 rows of the new dataframe.

In [ ]:
# your code here

#### 6b) Find all unique values in your new dataframe for columns: 
1. Area
2. Variable Name
3. Year

In [ ]:
# your code here

#### 6c) Convert the `Year` column to pandas datetime objects 

1. Convert the `Year` column float values to pandas datetime objects, where each year is represented as the first day of that year. Also display the column and datatype for `Year` after conversion.


For eg: `1962.0` will be represented as `1962-01-01`

## Extract specific statistics from the preprocessed data:

#### 7a)  Create a dataframe `dftemp` to store rows where `Area` is `Iceland`.

Display the dataframe `dftemp`.

In [ ]:
# your code here

#### 7b) Print the years when the `National Rainfall Index (NRI)` was greater than 900 and less than 950 in Iceland. 

Use the dataframe you created in the previous question 7a), ie `dftemp`.

In [ ]:
# your code here

## US statistics:

#### 8a) Create a new DataFrame called `df_usa` that only contains values where `Area` is equal to `United States of America`. 

Set the indices of `df_usa` to be the `Year` column with Pandas datetime values ( Use method `.set_index( )` ). Display the head of `df_usa`.

In [ ]:
# your code here


#### 8b) Pivot the DataFrame `df_usa` so that the unique values in the column `Variable Name` becomes the columns. 

The DataFrame values should be the ones in the the `Value` column. Save it as `df_usa` and display the updated dataframe head.

In [ ]:
# your code here

#### 8c) Rename the new columns to  `['GDP','NRI','PD','Area','Population']`, display the dataframe head.

In [ ]:
# your code here

#### 8d) Replace all 'Nan' values in `df_usa` with 0. Display the head of the dataframe.

In [ ]:
# your code here

## Note: Use `df_usa`

#### 9a) Multiply the `'Area'` column for all countries by 10 (so instead of 1000 ha, the unit becomes 100 ha = 1km^2). Display the dataframe head.

In [ ]:
# your code here


#### 9b) Create a new column in `df_usa` called `'GDP/capita'` and populate it with the calculated GDP per capita. Round the results to two decimal points. Display the dataframe head.
GDP per capita = (GDP / Population)

In [ ]:
# your code here


#### 9c) Find the maximum value of the `'NRI'` column in the US (using pandas methods). What year does the max value occur? Display the values.

In [ ]:
# your code here